@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*  */
  html {
    font-size: 62.5%;
    @apply box-border;

    @media (max-width: 600px) {
      font-size: 44%;
    }
  }

  body {
    @apply font-Loew;
    height: 10000px;
  }

  /* FONTS */
  @font-face {
    font-family: 'Loew';
    src: url(../fonts/loew/ExtraBold.otf);
    font-weight: 800;
  }
  @font-face {
    font-family: 'Loew';
    src: url(../fonts/loew/Bold.otf);
    font-weight: 700;
  }
  @font-face {
    font-family: 'Loew';
    src: url(../fonts/loew/Medium.otf);
    font-weight: 500;
  }
  @font-face {
    font-family: 'Loew';
    src: url(../fonts/loew/Heavy.otf);
    font-weight: 900;
  }
}

img {
  user-select: none;
  pointer-events: none;
}

h1,
h2,
h3,
p,
a {
  user-select: none;
}

.adj-image {
  @apply object-cover w-full h-full max-w-full;
}
