@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*  */
  html {
    font-size: 62.5%;
    @apply box-border;
    direction: rtl;
    /*  */
    @media (max-width: 37.5em) {
      font-size: 44%;
    }
  }

  body {
    @apply font-Loew;
    height: 10000px;
  }

  /* FONTS */
  @font-face {
    font-family: 'Loew';
    src: url(../fonts/loew/ExtraBold.otf);
    font-weight: 800;
  }
  @font-face {
    font-family: 'Loew';
    src: url(../fonts/loew/Bold.otf);
    font-weight: 700;
  }
  @font-face {
    font-family: 'Loew';
    src: url(../fonts/loew/Medium.otf);
    font-weight: 500;
  }
  @font-face {
    font-family: 'Loew';
    src: url(../fonts/loew/Heavy.otf);
    font-weight: 900;
  }

  h1,
  h2,
  h3,
  p,
  a {
    user-select: none;
  }

  h1,
  h2,
  h3,
  h5 {
    @apply font-heavy;
  }
  h2 {
    @apply text-lgx1;
  }
  h3 {
    @apply text-lg;
  }

  img {
    user-select: none;
    pointer-events: none;
  }
}

.adj-image {
  @apply object-cover w-full h-full max-w-full;
}
/* CUSTOM ARROW SLIDER */
.slick-arrow {
  @apply absolute bottom-0 text-transparent transition-colors duration-300 bg-mountain hover:bg-opacity-90;
  height: 50px;
  width: 40px;
  height: 40px;
  left: 50%;
  z-index: 10;
}
.slick-arrow::after {
  content: '';
  background-size: cover;
  width: 11px;
  height: 19px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slick-arrow.slick-next::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.778' height='12.728'%3E%3Cpath d='m12 13.172 4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222Z' transform='rotate(-90 5.071 13.293)' style='fill:%23fff'/%3E%3C/svg%3E");
}
.slick-arrow.slick-prev::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.778' height='12.728'%3E%3Cpath d='m6.364 2.828 4.95 4.95 1.414-1.414L6.364 0 0 6.364l1.414 1.414Z' transform='rotate(-90 6.364 6.364)' style='fill:%23fff'/%3E%3C/svg%3E");
}
.slick-arrow.slick-prev {
  transform: translateX(-55px);
}

/* SELECT */
.select-1 .select__btn {
  @apply px-4 bg-white border border-mercury;
}
.select-1 .select__content {
  @apply bg-white;
}
.select-1 .select__content > div {
  @apply py-6 border border-mercury;
}
.select-1 .select__content div > * {
  @apply px-3 py-4;
}
.select-1 .select__content div > *:not(:last-child) {
  @apply mb-2;
}

/* GENERAL */
/* ------- */

/* BORDER */
.browse__ads,
.sidebar-ads > div,
.card__ads--row,
.input,
.register,
.browse__categories__content__link {
  @apply border border-mercury;
}

/* BUTTONS */
.btn {
  @apply text-white transition-colors duration-300 hover:bg-opacity-90;
  height: 5rem;
}
.btn-w-1 {
  width: 14.5rem;
}

/* SHAPES */
.shape__1::after,
.shape__2::after {
  content: '';
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192.837' height='50'%3E%3Cdefs%3E%3Cstyle%3E .b%7Bfill:%231eaf62%7D %3C/style%3E%3C/defs%3E%3Cg style='opacity:.1'%3E%3Cpath class='b' d='M9.354 4.676A4.677 4.677 0 1 1 4.677 0a4.677 4.677 0 0 1 4.677 4.676ZM27.724 4.676A4.676 4.676 0 1 1 23.048 0a4.676 4.676 0 0 1 4.676 4.676ZM46.051 4.676A4.677 4.677 0 1 1 41.374 0a4.677 4.677 0 0 1 4.677 4.676ZM64.398 4.676A4.676 4.676 0 1 1 59.722 0a4.676 4.676 0 0 1 4.676 4.676ZM82.747 4.676A4.677 4.677 0 1 1 78.07 0a4.677 4.677 0 0 1 4.677 4.676ZM101.094 4.676A4.676 4.676 0 1 1 96.418 0a4.676 4.676 0 0 1 4.676 4.676ZM119.444 4.676A4.677 4.677 0 1 1 114.768 0a4.677 4.677 0 0 1 4.676 4.676ZM137.791 4.676A4.676 4.676 0 1 1 133.115 0a4.676 4.676 0 0 1 4.676 4.676ZM156.141 4.676A4.677 4.677 0 1 1 151.464 0a4.677 4.677 0 0 1 4.677 4.676ZM174.469 4.676A4.676 4.676 0 1 1 169.793 0a4.676 4.676 0 0 1 4.676 4.676ZM192.837 4.676A4.677 4.677 0 1 1 188.161 0a4.677 4.677 0 0 1 4.676 4.676Z'/%3E%3Cg%3E%3Cpath class='b' d='M9.354 25a4.677 4.677 0 1 1-4.677-4.676A4.676 4.676 0 0 1 9.354 25ZM27.724 25a4.676 4.676 0 1 1-4.676-4.676A4.675 4.675 0 0 1 27.724 25ZM46.051 25a4.677 4.677 0 1 1-4.677-4.676A4.676 4.676 0 0 1 46.051 25ZM64.398 25a4.676 4.676 0 1 1-4.676-4.676A4.675 4.675 0 0 1 64.398 25ZM82.747 25a4.677 4.677 0 1 1-4.677-4.676A4.676 4.676 0 0 1 82.747 25ZM101.094 25a4.676 4.676 0 1 1-4.676-4.676A4.675 4.675 0 0 1 101.094 25ZM119.444 25a4.677 4.677 0 1 1-4.676-4.676A4.676 4.676 0 0 1 119.444 25ZM137.791 25a4.676 4.676 0 1 1-4.676-4.676A4.675 4.675 0 0 1 137.791 25ZM156.141 25a4.677 4.677 0 1 1-4.677-4.676A4.677 4.677 0 0 1 156.141 25ZM174.469 25a4.676 4.676 0 1 1-4.676-4.676A4.675 4.675 0 0 1 174.469 25ZM192.837 25a4.677 4.677 0 1 1-4.676-4.676A4.676 4.676 0 0 1 192.837 25Z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='b' d='M9.354 45.324a4.677 4.677 0 1 1-4.677-4.676 4.676 4.676 0 0 1 4.677 4.676ZM27.724 45.324a4.676 4.676 0 1 1-4.676-4.676 4.675 4.675 0 0 1 4.676 4.676ZM46.051 45.324a4.677 4.677 0 1 1-4.677-4.676 4.676 4.676 0 0 1 4.677 4.676ZM64.398 45.324a4.676 4.676 0 1 1-4.676-4.676 4.675 4.675 0 0 1 4.676 4.676ZM82.747 45.324a4.677 4.677 0 1 1-4.677-4.676 4.676 4.676 0 0 1 4.677 4.676ZM101.094 45.324a4.676 4.676 0 1 1-4.676-4.676 4.675 4.675 0 0 1 4.676 4.676ZM119.444 45.324a4.677 4.677 0 1 1-4.676-4.676 4.676 4.676 0 0 1 4.676 4.676ZM137.791 45.324a4.676 4.676 0 1 1-4.676-4.676 4.675 4.675 0 0 1 4.676 4.676ZM156.141 45.324a4.677 4.677 0 1 1-4.677-4.676 4.677 4.677 0 0 1 4.677 4.676ZM174.469 45.324a4.676 4.676 0 1 1-4.676-4.676 4.675 4.675 0 0 1 4.676 4.676ZM192.837 45.324a4.677 4.677 0 1 1-4.676-4.676 4.676 4.676 0 0 1 4.676 4.676Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}
.shape__1::after {
  width: 11.4rem;
  height: 6.5rem;
  top: 3.5rem;
  right: -18.2rem;
}
.shape__2::after {
  width: 17.4rem;
  height: 4.5rem;
  top: 3.5rem;
  left: -13.7rem;
}
.shape__3::after {
  content: '';
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192.837' height='50' viewBox='0 0 192.837 50'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bopacity:0.399;%7D.b%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg class='a' transform='translate(-302.127 -441.579)'%3E%3Cg transform='translate(302.127 441.579)'%3E%3Cpath class='b' d='M311.481,446.255a4.677,4.677,0,1,1-4.677-4.676A4.677,4.677,0,0,1,311.481,446.255Z' transform='translate(-302.127 -441.579)'/%3E%3Cg transform='translate(18.372)'%3E%3Cpath class='b' d='M325.348,446.255a4.676,4.676,0,1,1-4.676-4.676A4.676,4.676,0,0,1,325.348,446.255Z' transform='translate(-315.996 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(36.697)'%3E%3Cpath class='b' d='M339.218,446.255a4.677,4.677,0,1,1-4.677-4.676A4.677,4.677,0,0,1,339.218,446.255Z' transform='translate(-329.864 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(55.046)'%3E%3Cpath class='b' d='M353.085,446.255a4.676,4.676,0,1,1-4.676-4.676A4.676,4.676,0,0,1,353.085,446.255Z' transform='translate(-343.733 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(73.393)'%3E%3Cpath class='b' d='M366.955,446.255a4.677,4.677,0,1,1-4.677-4.676A4.677,4.677,0,0,1,366.955,446.255Z' transform='translate(-357.601 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(91.742)'%3E%3Cpath class='b' d='M380.822,446.255a4.676,4.676,0,1,1-4.676-4.676A4.676,4.676,0,0,1,380.822,446.255Z' transform='translate(-371.47 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(110.09)'%3E%3Cpath class='b' d='M394.692,446.255a4.677,4.677,0,1,1-4.676-4.676A4.677,4.677,0,0,1,394.692,446.255Z' transform='translate(-385.338 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(128.439)'%3E%3Cpath class='b' d='M408.559,446.255a4.676,4.676,0,1,1-4.676-4.676A4.676,4.676,0,0,1,408.559,446.255Z' transform='translate(-399.207 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(146.787)'%3E%3Cpath class='b' d='M422.429,446.255a4.677,4.677,0,1,1-4.677-4.676A4.677,4.677,0,0,1,422.429,446.255Z' transform='translate(-413.075 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(165.113)'%3E%3Cpath class='b' d='M436.3,446.255a4.676,4.676,0,1,1-4.676-4.676A4.676,4.676,0,0,1,436.3,446.255Z' transform='translate(-426.944 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(183.483)'%3E%3Cpath class='b' d='M450.166,446.255a4.677,4.677,0,1,1-4.676-4.676A4.677,4.677,0,0,1,450.166,446.255Z' transform='translate(-440.812 -441.579)'/%3E%3C/g%3E%3C/g%3E%3Cg transform='translate(302.127 461.903)'%3E%3Cpath class='b' d='M311.481,461.62a4.677,4.677,0,1,1-4.677-4.676A4.676,4.676,0,0,1,311.481,461.62Z' transform='translate(-302.127 -456.944)'/%3E%3Cg transform='translate(18.372)'%3E%3Cpath class='b' d='M325.348,461.62a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,325.348,461.62Z' transform='translate(-315.996 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(36.697)'%3E%3Cpath class='b' d='M339.218,461.62a4.677,4.677,0,1,1-4.677-4.676A4.676,4.676,0,0,1,339.218,461.62Z' transform='translate(-329.864 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(55.046)'%3E%3Cpath class='b' d='M353.085,461.62a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,353.085,461.62Z' transform='translate(-343.733 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(73.393)'%3E%3Cpath class='b' d='M366.955,461.62a4.677,4.677,0,1,1-4.677-4.676A4.676,4.676,0,0,1,366.955,461.62Z' transform='translate(-357.601 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(91.742)'%3E%3Cpath class='b' d='M380.822,461.62a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,380.822,461.62Z' transform='translate(-371.47 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(110.09)'%3E%3Cpath class='b' d='M394.692,461.62a4.677,4.677,0,1,1-4.676-4.676A4.676,4.676,0,0,1,394.692,461.62Z' transform='translate(-385.338 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(128.439)'%3E%3Cpath class='b' d='M408.559,461.62a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,408.559,461.62Z' transform='translate(-399.207 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(146.787)'%3E%3Cpath class='b' d='M422.429,461.62a4.677,4.677,0,1,1-4.677-4.676A4.677,4.677,0,0,1,422.429,461.62Z' transform='translate(-413.075 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(165.113)'%3E%3Cpath class='b' d='M436.3,461.62a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,436.3,461.62Z' transform='translate(-426.944 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(183.483)'%3E%3Cpath class='b' d='M450.166,461.62a4.677,4.677,0,1,1-4.676-4.676A4.676,4.676,0,0,1,450.166,461.62Z' transform='translate(-440.812 -456.944)'/%3E%3C/g%3E%3C/g%3E%3Cg transform='translate(302.127 482.227)'%3E%3Cpath class='b' d='M311.481,476.985a4.677,4.677,0,1,1-4.677-4.676A4.676,4.676,0,0,1,311.481,476.985Z' transform='translate(-302.127 -472.309)'/%3E%3Cg transform='translate(18.372)'%3E%3Cpath class='b' d='M325.348,476.985a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,325.348,476.985Z' transform='translate(-315.996 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(36.697)'%3E%3Cpath class='b' d='M339.218,476.985a4.677,4.677,0,1,1-4.677-4.676A4.676,4.676,0,0,1,339.218,476.985Z' transform='translate(-329.864 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(55.046)'%3E%3Cpath class='b' d='M353.085,476.985a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,353.085,476.985Z' transform='translate(-343.733 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(73.393)'%3E%3Cpath class='b' d='M366.955,476.985a4.677,4.677,0,1,1-4.677-4.676A4.676,4.676,0,0,1,366.955,476.985Z' transform='translate(-357.601 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(91.742)'%3E%3Cpath class='b' d='M380.822,476.985a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,380.822,476.985Z' transform='translate(-371.47 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(110.09)'%3E%3Cpath class='b' d='M394.692,476.985a4.677,4.677,0,1,1-4.676-4.676A4.676,4.676,0,0,1,394.692,476.985Z' transform='translate(-385.338 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(128.439)'%3E%3Cpath class='b' d='M408.559,476.985a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,408.559,476.985Z' transform='translate(-399.207 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(146.787)'%3E%3Cpath class='b' d='M422.429,476.985a4.677,4.677,0,1,1-4.677-4.676A4.677,4.677,0,0,1,422.429,476.985Z' transform='translate(-413.075 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(165.113)'%3E%3Cpath class='b' d='M436.3,476.985a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,436.3,476.985Z' transform='translate(-426.944 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(183.483)'%3E%3Cpath class='b' d='M450.166,476.985a4.677,4.677,0,1,1-4.676-4.676A4.676,4.676,0,0,1,450.166,476.985Z' transform='translate(-440.812 -472.309)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  width: 27.4rem;
  height: 8.5rem;
  top: 3.5rem;
  left: -32.7rem;
  opacity: 0.5;
}
.shape__3::before {
  content: '';
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192.837' height='50' viewBox='0 0 192.837 50'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bopacity:0.399;%7D.b%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg class='a' transform='translate(-302.127 -441.579)'%3E%3Cg transform='translate(302.127 441.579)'%3E%3Cpath class='b' d='M311.481,446.255a4.677,4.677,0,1,1-4.677-4.676A4.677,4.677,0,0,1,311.481,446.255Z' transform='translate(-302.127 -441.579)'/%3E%3Cg transform='translate(18.372)'%3E%3Cpath class='b' d='M325.348,446.255a4.676,4.676,0,1,1-4.676-4.676A4.676,4.676,0,0,1,325.348,446.255Z' transform='translate(-315.996 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(36.697)'%3E%3Cpath class='b' d='M339.218,446.255a4.677,4.677,0,1,1-4.677-4.676A4.677,4.677,0,0,1,339.218,446.255Z' transform='translate(-329.864 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(55.046)'%3E%3Cpath class='b' d='M353.085,446.255a4.676,4.676,0,1,1-4.676-4.676A4.676,4.676,0,0,1,353.085,446.255Z' transform='translate(-343.733 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(73.393)'%3E%3Cpath class='b' d='M366.955,446.255a4.677,4.677,0,1,1-4.677-4.676A4.677,4.677,0,0,1,366.955,446.255Z' transform='translate(-357.601 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(91.742)'%3E%3Cpath class='b' d='M380.822,446.255a4.676,4.676,0,1,1-4.676-4.676A4.676,4.676,0,0,1,380.822,446.255Z' transform='translate(-371.47 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(110.09)'%3E%3Cpath class='b' d='M394.692,446.255a4.677,4.677,0,1,1-4.676-4.676A4.677,4.677,0,0,1,394.692,446.255Z' transform='translate(-385.338 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(128.439)'%3E%3Cpath class='b' d='M408.559,446.255a4.676,4.676,0,1,1-4.676-4.676A4.676,4.676,0,0,1,408.559,446.255Z' transform='translate(-399.207 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(146.787)'%3E%3Cpath class='b' d='M422.429,446.255a4.677,4.677,0,1,1-4.677-4.676A4.677,4.677,0,0,1,422.429,446.255Z' transform='translate(-413.075 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(165.113)'%3E%3Cpath class='b' d='M436.3,446.255a4.676,4.676,0,1,1-4.676-4.676A4.676,4.676,0,0,1,436.3,446.255Z' transform='translate(-426.944 -441.579)'/%3E%3C/g%3E%3Cg transform='translate(183.483)'%3E%3Cpath class='b' d='M450.166,446.255a4.677,4.677,0,1,1-4.676-4.676A4.677,4.677,0,0,1,450.166,446.255Z' transform='translate(-440.812 -441.579)'/%3E%3C/g%3E%3C/g%3E%3Cg transform='translate(302.127 461.903)'%3E%3Cpath class='b' d='M311.481,461.62a4.677,4.677,0,1,1-4.677-4.676A4.676,4.676,0,0,1,311.481,461.62Z' transform='translate(-302.127 -456.944)'/%3E%3Cg transform='translate(18.372)'%3E%3Cpath class='b' d='M325.348,461.62a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,325.348,461.62Z' transform='translate(-315.996 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(36.697)'%3E%3Cpath class='b' d='M339.218,461.62a4.677,4.677,0,1,1-4.677-4.676A4.676,4.676,0,0,1,339.218,461.62Z' transform='translate(-329.864 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(55.046)'%3E%3Cpath class='b' d='M353.085,461.62a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,353.085,461.62Z' transform='translate(-343.733 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(73.393)'%3E%3Cpath class='b' d='M366.955,461.62a4.677,4.677,0,1,1-4.677-4.676A4.676,4.676,0,0,1,366.955,461.62Z' transform='translate(-357.601 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(91.742)'%3E%3Cpath class='b' d='M380.822,461.62a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,380.822,461.62Z' transform='translate(-371.47 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(110.09)'%3E%3Cpath class='b' d='M394.692,461.62a4.677,4.677,0,1,1-4.676-4.676A4.676,4.676,0,0,1,394.692,461.62Z' transform='translate(-385.338 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(128.439)'%3E%3Cpath class='b' d='M408.559,461.62a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,408.559,461.62Z' transform='translate(-399.207 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(146.787)'%3E%3Cpath class='b' d='M422.429,461.62a4.677,4.677,0,1,1-4.677-4.676A4.677,4.677,0,0,1,422.429,461.62Z' transform='translate(-413.075 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(165.113)'%3E%3Cpath class='b' d='M436.3,461.62a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,436.3,461.62Z' transform='translate(-426.944 -456.944)'/%3E%3C/g%3E%3Cg transform='translate(183.483)'%3E%3Cpath class='b' d='M450.166,461.62a4.677,4.677,0,1,1-4.676-4.676A4.676,4.676,0,0,1,450.166,461.62Z' transform='translate(-440.812 -456.944)'/%3E%3C/g%3E%3C/g%3E%3Cg transform='translate(302.127 482.227)'%3E%3Cpath class='b' d='M311.481,476.985a4.677,4.677,0,1,1-4.677-4.676A4.676,4.676,0,0,1,311.481,476.985Z' transform='translate(-302.127 -472.309)'/%3E%3Cg transform='translate(18.372)'%3E%3Cpath class='b' d='M325.348,476.985a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,325.348,476.985Z' transform='translate(-315.996 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(36.697)'%3E%3Cpath class='b' d='M339.218,476.985a4.677,4.677,0,1,1-4.677-4.676A4.676,4.676,0,0,1,339.218,476.985Z' transform='translate(-329.864 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(55.046)'%3E%3Cpath class='b' d='M353.085,476.985a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,353.085,476.985Z' transform='translate(-343.733 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(73.393)'%3E%3Cpath class='b' d='M366.955,476.985a4.677,4.677,0,1,1-4.677-4.676A4.676,4.676,0,0,1,366.955,476.985Z' transform='translate(-357.601 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(91.742)'%3E%3Cpath class='b' d='M380.822,476.985a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,380.822,476.985Z' transform='translate(-371.47 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(110.09)'%3E%3Cpath class='b' d='M394.692,476.985a4.677,4.677,0,1,1-4.676-4.676A4.676,4.676,0,0,1,394.692,476.985Z' transform='translate(-385.338 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(128.439)'%3E%3Cpath class='b' d='M408.559,476.985a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,408.559,476.985Z' transform='translate(-399.207 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(146.787)'%3E%3Cpath class='b' d='M422.429,476.985a4.677,4.677,0,1,1-4.677-4.676A4.677,4.677,0,0,1,422.429,476.985Z' transform='translate(-413.075 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(165.113)'%3E%3Cpath class='b' d='M436.3,476.985a4.676,4.676,0,1,1-4.676-4.676A4.675,4.675,0,0,1,436.3,476.985Z' transform='translate(-426.944 -472.309)'/%3E%3C/g%3E%3Cg transform='translate(183.483)'%3E%3Cpath class='b' d='M450.166,476.985a4.677,4.677,0,1,1-4.676-4.676A4.676,4.676,0,0,1,450.166,476.985Z' transform='translate(-440.812 -472.309)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  width: 24.4rem;
  height: 8.5rem;
  bottom: 3rem;
  right: -15.7rem;
  opacity: 0.2;
  pointer-events: none;
}

/* LABEL AND INPUT */
label {
  @apply mb-6 text-sm font-heavy;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  @apply font-medium pis-5 text-md;
}
input:focus {
  @apply outline-royal;
}
input::placeholder {
  @apply font-medium text-silver text-md;
}
